<h3>Estimados admins</h3>


<p>Se recibio un pago el cuel no se ha logrado procesar via sistema, por lo que pedimos su intervencion para poder asignar correctamente este nuevo pago:</p>

<p><strong>{{ cuenta_ordenante }}</strong></p>

