<h3>Estimado: {{ nombre }}</h3>


<p>Recibimos una orden de pago, para poder realizarla, usa los siguientes datos:</p>

<p>Referencia bancaria: <strong>{{ referencia }}</strong></p>
<p>Clabe bancaria: <strong>{{ clabe }}</strong></p>
<p>Banco:<strong> {{ banco }}</strong></p>
<p>A nombre de: <strong>{{ empresa_receptora }}</strong></p>
<p>Monto: <strong> {{ monto }}</strong></p>

<p>Es impotante que uses la referencia al momento de hacer tu transferencia ya que en caso de no usarla, no se podra procesar tu pedido</p>
